.custom-bg {
    border: none;
    background-color: white;
    color: #667085;
}

.custom-bg:hover {
    background-color: #1cecea;
    color: white;
}

.custom-bg i {
    margin-right: 5px;
}

.border-0 {
    border: none;

}

.half-width {
    width: 50%;
}

.justify-content-center {
    justify-content: center;
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
    justify-content: center;
}


/* Attraction sliding */
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* For positioning the buttons */
}

.nav-button {
    border: none;
    background-color: #fff;
}

.attraction_container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

.attract_card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
}

.attract_card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.attract_card>.row>.icon {
    /* background: #223; */
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.attract_card>.row>.attract_description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.attract_description p {
    color: #ffffff;
    padding-top: 5px;
    padding-left: 20px;
}



input:checked+label {
    width: 600px;
}

input:checked+label .attract_description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.attract_card[for="c1"] {
    background-image: url('../../public/Assets/img_5.jpg');
}

.attract_card[for="c2"] {
    background-image: url('../../public/Assets/img_1.jpg');
}

.attract_card[for="c3"] {
    background-image: url('../../public/Assets/img_3.jpg');
}

.attract_card[for="c4"] {
    background-image: url('../../public/Assets/img_4.jpg');
}

@media (max-width: 768px) {
    .attract_card {
        width: 100%;
        /* Full width */
    }

    input:not(:checked)+label {
        display: none;
        /* Hide unselected cards */
    }

    input:checked+label {
        width: 100%;
    }

    .nav-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
    }

    .nav-button.prev {
        left: 10px;
    }

    .nav-button.next {
        right: 10px;
    }
}