.faq-container {
    margin-top: 100px;
}

.faq-text {
    margin-bottom: 20px;
}

.thetext {
    white-space: pre-line;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-start {
    justify-content: flex-start;
}

.align-items-start {
    align-items: flex-start;
}

.accordion-button:not(.collapsed) {
    background-color: #1cacea;
    color: white;
}

.accordion-button:not(.collapsed)::after {
    filter: invert(1);
}

.accordion-body {
    border: 1px solid #1cacea;
}

.w-20 {
    width: 20%;
}