* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.blue-line {
  height: 2px;
  background-color: #1CACEA;
  margin-bottom: 10px;
}

.ticket-container {
  margin-top: 50px;
  max-width: 150vh;
  padding: 40px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.blue-line-2 {
  width: 100%;
  /* Set width to 100% for horizontal line */
  height: 2px;
  /* Set height of the line */
  background-color: #1CACEA;
  transform: translate(0px, 40px);
}

.underline {
  width: 100%;
  height: 2px;
  background-color: #1CACEA;
  border: none;
}

.ticket-logo {
  width: 160px;
  height: 100px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  backdrop-filter: blur(2px);
  /* Blur effect */
}

.text_font {
  font-size: 12px;
}

.button {
  background-color: #1CACEA;
  opacity: 71%;
  font-size: 10px;
  font-weight: bold;
  border: none;
  color: #FFFFFF;
  padding: 10px;
}

.button:hover {
  color: black;
  font-weight: bold;
}

.text_font {
  font-size: 12px;
}

.ticket_bar {
  background-color: #1CACEA;
  width: 20px;
  height: 100px;
}