.footer1 {
    background-color: #1CACEA;
    height: 400px;
    color: white;
}

.footer_text {
    text-align: center;
}

.text,
.line {
    color: white;
}


.links-items .links-items {
    text-decoration: none;
    position: relative;
}

.links-items .links-items:hover::after {
    content: '';
    margin-left: 15%;
    width: 70%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 1.5px;
    background-color: currentColor;
    pointer-events: none;
}