.admin_navbar {
    background-color: #1CACEA;
    color: #ffffff;
    position: relative;
    padding: 20px;
}

/* header.css */

.nav-link.active {
    font-weight: bold;
}

.nav-link {
    position: relative;
    padding-bottom: 5px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    background: white;
    transition: all 0.1s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    font-weight: bold;
}


.adminLogo {
    width: 80px;
}


.navbar-item .nav-link:hover {
    color: #0015f8;
}

.navbar-nav .navbar-item .nav-link:hover {
    border-bottom: 2px solid white;


}

.logout-custom-btn {
    background-color: white;
    color: black;
    border: none;
    transition: none;

}

.logout-custom-btn:hover,
.logout-custom-btn:focus,
.logout-custom-btn:active {
    background-color: white;
    color: black;
    border: none;
    box-shadow: none;
}

.center-modal .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal-header,
.modal-footer {
    border: none;
    box-shadow: none;
}

.logout-button {
    width: 100px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #1cacea;
    border: none;
}

.logout-button:hover {
    background-color: #1cacea;
}