.ticket_page {
    padding-right: 100px;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-container .card {
    margin: 30px;
    padding: 30px;
}

.line {
    background-color: #1cacea;
    height: 3px;
    width: 100%;
}

.box {
    background-color: #1cacea;
    margin-block: -5px;
}

.card_text {
    padding-block: 20px;
    padding-inline: 30px;
}

.card_img {
    margin: auto;
    width: 200px;
}

.card_img img {
    width: 100%;
    margin-top: 30px;
}

.del_buttons {
    width: 100px;
    height: 30px;
}